# Package files
**/package-lock.json
**/pnpm-lock.yaml
**/yarn.lock

# Config files
**/tsconfig.json
**/components.json
**/next-env.d.ts
**/postcss.config.mjs
**/package.json
.eslintrc.js
.prettierrc
lint-staged.config.js
.vscode/

# Build directories
document-management/.next
document-management/out
document-management/build
document-management-api/dist
document-management-api/build

# Node modules
node_modules

# Misc
.git
*.log